<section class="buy">
  <div class="container">
    <div class="buy__inner">
      <div class="buy__content">
        <h3 class="buy__title title">RAY AIR POCKET</h3>
        <ul class="buy__list">
          <li class="buy__item">
            <p class="buy__item-title">CLICK FINS</p>
            <p class="buy__item-text">
              Comes with two 4.5&rsquo;&rsquo; Click Fins&nbsp;&mdash; no&nbsp;tools required&nbsp;&mdash; fit and remove in&nbsp;seconds
            </p>
          </li>
          <li class="buy__item">
            <p class="buy__item-title">REDUCED DECK PAD</p>
            <p class="buy__item-text">
              Reduced area deck pad in&nbsp;standing area to&nbsp;aid packing
            </p>
          </li>
          <li class="buy__item">
            <p class="buy__item-title">BACKPACK</p>
            <p class="buy__item-text">
              Compact Pocket backpack with easy entry zipper for board, paddle, pump and accessories (fits paddle and also regular pump)
            </p>
          </li>
          <li class="buy__item">
            <p class="buy__item-title">TOURING SHAPE</p>
            <p class="buy__item-text">
              Tried and tested shape based on&nbsp;our popular Ray Air 11&rsquo;6&rsquo;&rsquo;
            </p>
          </li>
          <li class="buy__item">
            <p class="buy__item-title">EXTREMELY PORTABLE</p>
            <p class="buy__item-text">
              Extremely portable, the ultimate travel companion
            </p>
          </li>
          <div class="buy__price">590 €</div>
        </ul>
        <button class="buy__btn btn-reset">buy</button>
      </div>
      <picture class="buy__img">
        <source srcset="./img/sup-full.avif" type="image/avif">
        <source srcset="./img/sup-full.webp" type="image/webp">
        <img class="buy__img" src="./img/sup-full.jpg" alt="sup">
      </picture>
    </div>
  </div>
</section>
